/* pc */
@media (min-width: 64em) {
    #nav .subnav a{
        padding: 5px 12px;
    }

}

/* tablet & mobile */
@media (max-width: 63.9375em) {
    
    .btn-blackwhite-grayblack {
        padding: 15px 16px;
    }

    .place-body .btn-blackwhite-grayblack,
    .contact-form .btn-blackwhite-grayblack{
        font-size: 18px;
    }


    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .socials-list a {
        margin: 0 4px;
        padding: 8px;
    }
    
    .copyright a{
        padding: 12px 0;
    }

    .contact-info {
        margin-top: -46px;
        line-height: 1.8;
    }
}

/* tablet */
@media (max-width: 63.9375em) and (min-width: 46.25em) {
    
}

/* mobile */
@media (max-width: 46.1875em) {
    .place-body .btn-blackwhite-grayblack,
    .contact-form .btn-blackwhite-grayblack{
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
        width: 100%;
    }

    #nav .subnav{
        position: initial;
    }
    #nav .subnav a{
        background-color: #333;
        color: #fff;
        padding: 5px 41px; 
    }
    #nav>li:first-child{
        display: inline-block;
    }


    #nav>li{
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn{
        display :block;
    }

    #content .member-list {
        flex-direction: column;
    }

    #content .member-item {
        display: block;
        width: 65%;
        margin-top: 24px;
    }

    #content .member-img {
        width: 100%;
    }

    .places-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-content {
        flex-direction: column;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .contact-info {
        margin-top: 0;
        width: 100%;
    }
    
    .contact-form {
        margin-top: 24px;
        width: 100%;
    }
    
    .contact-form .flex-row{
        flex-direction: column;
    }
}