/* Reset CSS */
* {
    /* Emet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
    --header-height: 46px;
    --z-index-header: 1;
}

/*
1.Từ ngoài vào trong 
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
*/

/* 
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
 */

 /* Common */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.opa-1-to-05{
    opacity: 1;
}
.opa-1-to-05:hover{
    opacity: 0.5;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-24 {
    margin-top: 24px !important;
}
.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33%;
}

.col-half {
    width: 50%;
}

.col-full{
    width: 100%;
}

.btn-blackwhite-grayblack {
    padding: 10px 14px;
    background-color: #000;
    color: #fff;

    font-size: 14.5px;
    letter-spacing: 0.5px;
    border: none;
}
.btn-blackwhite-grayblack:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.po-ab {
    position: absolute;
}

.right {
    right: 0;
}

#main {

}

#header {
    height: var(--header-height);
    z-index: var(--z-index-header); 
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}


#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10p, rgba(0,0,0,0.3);
}
#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li{
    display: block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float:right;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}
#header .mobile-menu-btn{
    display: none;
    float: right;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}
#header .menu-icon {
    line-height: 46px;
    padding: 0 24px;
}

#slider {
    margin-top: var(--header-height);
    padding-top: 50%;
    background: url(/assets/img/slider/slider-pic-1.jpg) no-repeat center /cover;
    position: relative;
}

#slider .text-content {
    padding: 32px 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin: 15px 0;
}

#slider .text-description {
    margin: 15px 0; 
    font-size: 15px;
}

#content {

}

#content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    color: #666666;
    text-align: center;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 60px;
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content .member-item {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 70%;
    margin-top: 8px;
    border-radius: 3px;
}

/* Tour section */
#content .tour-section {
    width: 100%;
    background-color: #000;
}
.tour-section .content-section {
}

.tour-section .section-heading {

}

.tour-section .section-sub-heading {

}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    background-color: #000;
    width: 24px;
    height: 22px;
    border-radius: 50%;
    float: right;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {

    margin-top: 32px;
    display: flex;
}

/* ****** Changed to hover picture layer */

.container-img {
    display: block;
    width: 100%;
    height: 30%;
}
.place-img {
    display: block;
    width: 100%;
    height: 100%;
}

.place-img-layer {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    transform: translateY(-100%);
    opacity: 0;
}

.container-img:hover .place-img-layer {
    opacity: 1;
}

.place-body {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;

}

.place-desc {
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 130px; */
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    display: inline-block;
    width: 30px;
}

.contact-form {
    font-size: 15px;
    position: relative;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .btn-blackwhite-grayblack
{
    float: right;
}

/* Map section */
.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 72px 16px;
}

.socials-list a {
    color: #666666;
    font-size: 20px;
    text-decoration: none;
}
.copyright a{
    color: #666666;
}
.copyright {
    color: #666666;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container {
    width: 80%;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px 18px;

    font-size: 12px;
    color: #fff;
}
.modal .ti-close{
}

.modal .modal-close:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}


.modal .modal-header {
    width: 100%;
    padding: 48px 0;
    background-color: #009688;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    letter-spacing: 4px;
}

.modal .ti-bag{
    margin-right: 10px;
}

.modal .modal-body {
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.modal .modal-label {
    font-weight: 520;
}

.modal .modal-input {
    margin-top: 12px;
    padding: 12px 8px;
    
    font-size: 15px;
    border: 1px solid #ccc;
}

.modal .modal-input + .modal-label {
    margin-top: 20px;
}

.modal #buy-tickets {
    width: 100%;
    padding: 16px 0;
    margin-top: 16px;
    background-color: #009688;

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.modal #buy-tickets:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal .modal-footer {
    text-align: right;
    margin: 16px 16px 40px 0;  
}

.modal .modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}